/* Couleurs */
:root {
	--color-blue: #1327b7;
	--color-blue-1: #1b41e9;
	--color-blue-2: #3d4fd1;
	--color-blue-3: #697af3;

	--color-white: #131313;
	--color-white-1: #111113;
	--color-white-2: #434141;
	--color-white-only: #fafafa;

	--color-gray: #494949;
	--color-gray-1: #727272;

	--color-black: #fafafa;
	--color-black-1: #eeedf4;
	--color-black-2: #dedee9;
	--color-black-3: #e7e7f1;

	--color-red: #b5403c;
	--color-red-1: #d62038;
	--color-red-2: #991022;

	--color-green: #11b86a;
	--color-green-1: #23a166;
	--color-green-2: #3ad98f;

	--color-orange: #f88a0c;
	--color-orange-1: #d68120;
	--color-orange-2: #e8a04d;
	--color-orange-3: #e5ae6f;

	--border-gray: rgba(255, 255, 255, 0.171);
}

#headerPage > a > div,
#footerPage > a > div {
	padding: var(--padding-small);
	background-color: var(--color-green);
	border-radius: var(--border-radius-small);
}

#headerPage > a > div > i,
#footerPage > a > div > i {
	color: var(--color-black);
	font-size: var(--text-size-large);
}
